<p id="notice"><%= notice %></p>

<h2>National Pokedex</h2>

<p><%= link_to 'Add a new Pokemon', new_pokemon_path %></p>


<table>
  <thead>
    <tr>
      <th>Pokedex</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pokemons.each do |pokemon| %>
      <tr>
        <td><%= pokemon.pokedex %></td>
        <td><%= pokemon.name %></td>
        <td><%= link_to 'Show', pokemon %></td>
        <td><%= link_to 'Edit', edit_pokemon_path(pokemon) %></td>
        <td><%= link_to 'Delete', pokemon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
