<p id="notice"><%= notice %></p>

<p>
  <strong>Pokedex Entry:</strong>
  <%= @pokemon.pokedex %>
</p>

<p>
  <strong>Name:</strong>
  <%= @pokemon.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @pokemon.types.map{ |t| t.name }.join(', ') %>
</p>

<p>
  <strong>Generation:</strong>
  <%= @pokemon.generation.gen %>
</p>

<p>
  <strong>Region:</strong>
  <%= @pokemon.generation.region %>
</p>

<p>
  <strong>HP:</strong>
  <%= @pokemon.hp %>
</p>

<p>
  <strong>Attack:</strong>
  <%= @pokemon.attack %>
</p>

<p>
  <strong>Defense:</strong>
  <%= @pokemon.defense %>
</p>

<p>
  <strong>Special Attack:</strong>
  <%= @pokemon.sp_atk %>
</p>

<p>
  <strong>Special Defense:</strong>
  <%= @pokemon.sp_def %>
</p>

<p>
  <strong>Speed:</strong>
  <%= @pokemon.speed %>
</p>

<p>
  <strong>Stats Total:</strong>
  <%= @pokemon.stats_total %>
</p>

<%= link_to 'Edit', edit_pokemon_path(@pokemon) %> |
<%= link_to 'Back', pokemons_path %>
