<!DOCTYPE html>
<html>
  <head>
    <title>PokemonRailsProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h1><%= link_to 'Pokemon Data Project', pokemons_path %></h1>
  <nav>
    <ul>
      <li><%= link_to 'Home', pokemons_path %></li>
      <li><%= link_to 'About', about_path %></li>
      <li><%= link_to 'Generations', generations_path %></li>
      <li><%= link_to 'Pokemon Types', types_path %></li>
    </ul>
  </nav>
    <%= yield %>
  </body>
</html>
